.thumb img {
    -webkit-filter: sepia(0);
    filter: none;
    border-radius: 5px;
    /*background-color: #fff;*/
    border: 1px solid white;
    padding: 5px;
    width: 300px;
    margin-bottom: 1px;
    /*height: 200px;*/

}

.thumb img:hover {
    -webkit-filter: sepia(1);
    filter: sepia(1);
}

.thumb {
    padding: 5px;
}

.card-text {
    border-radius: 5px;
    border: 1px solid white;
    padding: 30px 30px;
    margin-bottom: 2px;
}
